{% extends "base.html" %}
{% block title %}Entry Creation{% endblock %}
{% block body %}
<div class="p-4 shadow-sm">
    <div class="row">
        <div class="col">
            <h1>Create a New Entry</h1>
        </div>
    </div>

<div class="row">
    <form method="POST" action="{{ url_for('.create_entry') }}">
        {{ form.hidden_tag() }}
        {{ macros.render_form_entry(form) }}
        <!--
        <div class="form-group">
            {{ form.title.label }}
            {% if form.title.errors %}
            {% for e in form.title.errors %}
            <p class="help-block">{{ e }}</p>
            {% endfor %}
            {% endif %}
            {{ form.title(class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.director.label }}
            {% if form.director.errors %}
            {% for e in form.director.errors %}
            <p class="help-block">{{ e }}</p>
            {% endfor %}
            {% endif %}
            {{ form.director(id="editor", class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.cast.label }}
            {% if form.cast.errors %}
            {% for e in form.cast.errors %}
            <p class="help-block">{{ e }}</p>
            {% endfor %}
            {% endif %}
            {{ form.cast(id="editor", class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.year.label }}
            {% if form.year.errors %}
            {% for e in form.year.errors %}
            <p class="help-block">{{ e }}</p>
            {% endfor %}
            {% endif %}
            {{ form.year(id="editor", class_='form-control') }}
        </div>
    -->
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</div>
</div>
    {% endblock %}

{% block js %}
<script src="//cdn.ckeditor.com/ckeditor5/45.0.0/ckeditor5.umd.js">
</script>
<script>
    CKEDITOR.replace('editor');
</script>
{% endblock %}
